
.notifications-card {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 18px;
  border-bottom: 1px solid #eee;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.mark-all-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}


.empty {
  padding: 40px 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.empty mat-icon {
  font-size: 40px;
  margin-bottom: 8px;
  padding: 30px;
}


.notification {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 14px 18px;
  cursor: pointer;
}

.notification:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.notification:hover {
  background: #f5f7ff;
}

.notification.unread {
  background: #66929238;
}

.icon mat-icon {
  font-size: 24px;
  color: var(--mat-sys-on-primary-container);
}

.content {
  flex: 1;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--mat-sys-on-primary-container);
  border-radius: 50%;
}

.message {
  font-size: 13px;
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.75);
}

.time {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 6px;
  font-size: 12px;
  color: gray;
}

.time mat-icon {
  font-size: 14px;
}

.mark-btn {
  margin-top: 2px;
}

@media (max-width: 600px) {
  .header {
    padding: 14px;
  }

  .header h2 {
    font-size: 18px;
  }

  .mark-all-btn {
    font-size: 12px;
    padding: 4px 8px;
  }

  .notification {
    padding: 12px 14px;
  }
}
