.products-layout {
  height: 100vh;
}

.products-card {
  width: 85%;
  margin: 24px auto;
  padding: 16px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  width: 300px;
  margin: 16px 0;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

.subtitle {
  color: #757575;
  font-size: 14px;
}
/* DRAWER */
.product-drawer {
  width: 420px;
  padding: 16px;
}

.product-drawer form {
  display: flex;
  flex-direction: column;
  gap: 16p;
}

.product-drawer .full-width {
  width: 100%;
}

.product-drawer mat-checkbox {
  margin-top: 8px;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-actions {
  margin-top: 24px;
}

/* MOBILE PRODUCT CARD */
.product-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 14px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* HEADER */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-size: 15px;
  font-weight: 600;
  color: #111827;
}

/* STATUS */
.status-pill {
  font-size: 11px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 999px;
}

.status-pill.active {
  background: #ecfdf5;
  color: #065f46;
}

.status-pill.inactive {
  background: #fef2f2;
  color: #991b1b;
}

/* DETAILS */
.card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 12px;
  color: #6b7280;
}

.value {
  font-size: 13px;
  font-weight: 500;
  color: #374151;
}

/* ACTIONS */
.card-actions {
  display: flex;
  gap: 80px;
}

.card-actions button {
  flex: 1;
}

@media (max-width: 768px) {
  .products-card {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .search-field {
    width: 100%;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .product-drawer {
    width: 100%;
  }
}
